.slideshow-container {
  max-width: 100%; /* adjust image width */
  /* height: 600px; adjust image height */
  overflow: hidden;
  position: relative;
  margin: auto;
  /* margin-top: 80px; to avoid overlap with fixed header */
}

.slideshow {
  display: flex;
  width: 100%;
  height: 100%;
  animation: slide 6s infinite; /* total duration depends on number of images */
}

.slideshow img {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  } /* show image 1 */
  40% {
    transform: translateX(0);
  } /* pause on image 1 */
  50% {
    transform: translateX(-100%);
  } /* slide to image 2 */
  90% {
    transform: translateX(-100%);
  } /* pause on image 2 */
  100% {
    transform: translateX(0);
  } /* slide back to image 1 */
}
